@use 'variables' as *;
.encabezado{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: $verde;
    padding: 5px;
}
.titulo-encabezado{
    font-family: $tipografia;
    font-size: 20px;
    color: white;
    margin: 2px;
}
#logo{
    height: 45px;
    width: 45px;
}