// @import url('https://fonts.googleapis.com/css?family=Inter');
@use 'variables' as *;
main{
  padding: 20px;
  height: 738px;
  flex: 1;
  margin-top: 160px; // Para evitar que el contenido quede debajo del header
  margin-bottom: 60px; // Para evitar que el contenido quede detrás del footer
  overflow-y: auto;
}
select{
  margin: 15px 20px;
  width: 40%;
  height: 35px;
  padding-left: 10px;
  border-radius: 10px;

  option {
    color: blaCK;
  }
}
.img-mesas{
  border-radius: 20px;
  width: 60px;
  height: 60px;
}
.mesa{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  justify-content: center;
  margin-block: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); //Sombra suave
  border: 1px solid $gris-claro; //Borde ligero semitransparente
}

.mesa:active{
  background-color: $gris-oscuro;
  p{
    color:black;
  }
  img{
    background-color: $gris-oscuro;
  }
}
.mesa p{
  font-family: $tipografia;
  font-size: auto;
  font-weight:400;
}
#contenedor-mesas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  padding-top: 30px;
}
