// @import url('https://fonts.googleapis.com/css?family=Inter');
@use 'variables' as *;
main{
  padding: 20px;
  height: 738px;
  flex: 1;
  margin-top: 60px; // Para evitar que el contenido quede debajo del header
  margin-bottom: 60px; // Para evitar que el contenido quede detrás del footer
  overflow-y: auto;
}
select{
  margin: 15px 20px;
  width: 50%;
  height: 35px;
  padding-left: 10px;
  border-radius: 10px;
}
.img-mesas{
  border-radius: 20px;
  width: 60px;
  height: 60px;
}
.mesa{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gris-claro;
  height: 142px;
  width: 142px;
  border-radius: 20px;
  justify-content: center;
  margin-block: 10px;
  overflow: hidden
}
.mesa:active{
  background-color: $gris-oscuro;
  p{
    color:$gris-claro;
  }
  img{
    background-color: #D0D0CE;
  }
}
.mesa p{
  font-family: $tipografia;
  font-size: auto;
  font-weight:400;
}
#contenedor-mesas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
