@use 'variables' as *;

#contenedor-pedidos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: $tipografia;
    margin-top: 30px;
}

.pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    margin-block: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); //Sombra suave
    border: 1px solid $gris-claro; //Borde ligero semitransparente
}
.pedido div{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    font-family: $tipografia;
    font-weight: 600;
}

.pedido button {
    position: relative;
    top: 5px; 
    width: 80%;
    height: 20%;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s, transform 0.2s ease;;

    //Cuando se hace clic
    &:active {
        background-color: white;
        color: black;
        transform: scale(0.95);
    }
}
