@use 'variables' as *;

#contenedor-pedidos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: $tipografia;
    margin-top: 30px;
}

.pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    margin-block: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); //Sombra suave
    border: 1px solid $gris-claro; //Borde ligero semitransparente
    p{
        padding: 0;
        margin: 0;
    }
}
.pedido div{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    font-family: $tipografia;
    font-weight: 600;
}

.terminar-pedido {
    position: relative;
    top: 5px; 
    width: 80%;
    height: 20%;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s, transform 0.2s ease;;

    //Cuando se hace clic
    &:active {
        background-color: white;
        color: black;
        transform: scale(0.95);
    }
}

#selector-estado{
    display: flex;
    justify-content: space-around;
}

.boton-activo , .boton-terminado, .boton-espera{
    border-radius: 15px;
    font-size: 18px;
    color: black;
    border-width: 1px;
    border-color: rgb(39, 37, 37);
    background-color: white;
    margin-top: 15px;
    padding-inline: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.estado-seleccionado{
    background-color: rgb(0, 0, 0);
    color: white
}
