@use 'variables' as *;
h1 {
    text-align: center;
    font-family: $tipografia;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    margin-top: 40px;
}

.contenedor-pedido {
    background: #ffffff; // Fondo blanco
    border-radius: 12px; // Bordes redondeados
    padding: 20px; // Espaciado interno
    max-width: 600px; // Ancho máximo
    margin: 20px auto; // Centrar el contenedor
    margin-bottom: 0px;
    font-family: 'Arial', sans-serif; // Fuente moderna
    overflow-y: auto; // Agregar scroll si hay muchos pedidos
    
}

// Estilos para cada item del pedido
.pedido-item {
    justify-content: center;
    align-content: center;
    background: #f8f9fa; // Fondo gris claro
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #e9ecef; // Cambio de color al pasar el mouse
        transform: scale(1.02); // Pequeño efecto de zoom
    }
}

.pedido-item img{
    display: inline;
    height: 20px;
    width: auto;
}

// Estilos para el nombre del producto
.pedido-item p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

#comandar{
    position: fixed; 
    justify-self: center;
    bottom: 110px; 
    left: 77%; 
    transform: translateX(-50%);
    background-color: #fca420; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; // Asegura que esté encima de todo 

    &:active {
        background-color: #a76706;
        color:white;
        transform: scale(0.95) ;
    }
}

#precio {
    font-family: $tipografia;
    position: fixed; 
    justify-self: center;
    bottom: 110px; 
    left: 10%; 
    display: block;
    font-size: 23px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: center;
}
#precio-popup{
    font-family: $tipografia;
    display: block;
    font-size: 23px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: center;
}