@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable.woff2") format("woff2");
  }
  
$verde: #337357;
$gris-claro: #D0D0CE;
$gris-oscuro: #5F555D;
$tipografia: 'Inter', sans-serif;