@use 'encabezado';
@use 'mesas';
@use 'pedidos';
@use 'footer';
@use 'menu';

body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    padding: 0px;
    margin: 0px;
  }

#contenido-principal{
  padding: 20px;
  height: 608px;
  flex: 1;
  margin-top: 160px; // Para evitar que el contenido quede debajo del header
  margin-bottom: 60px; // Para evitar que el contenido quede detrás del footer
  overflow-y: auto;
}