@import url('https://fonts.googleapis.com/css?family=Inter');
$verde: #337357;
$gris-claro: #D0D0CE;
$gris-oscuro: #5F555D;
$tipografia: 'Inter';

body{
  width: 373px;
  margin: auto;
  border: black;
}

.encabezado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $verde;
  padding: 5px;
  margin: auto;
  }
.titulo-encabezado{
  font-family: $tipografia;
  font-size: 18px;
  color: white;
  margin: 2px;
}
#logo{
  height: 50px;
  width: 50px;
}

main{
  padding: 10px;
}
select{
  margin: 10px 0px;
  width: 40%;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
}
.img-mesas{
  height: 80px;
  width: 80px;
}
.mesa{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gris-claro;
  height: 152px;
  width: 142px;
  border-radius: 10px;
  justify-content: center;
}
.mesa p{
  font-family: $tipografia;
  font-size: 16px;
}
#contenedor-mesas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer{
  display: grid;
  grid-template: 40px 20px/ 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: $verde;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 225px;
}
footer img{
  height: 40px;
  width: 40px;
}
